/* Generales*/
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    color: rgb(0, 0, 0)
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Regular.ttf);
}



header {

    display: flex;
    flex-wrap: wrap;
    height: 10vh;


}

main {

    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    overflow-y: scroll


}

footer {

    display: flex;
    flex-wrap: wrap;
    height: 10vh;



}

/*Mobile */

@media(max-width:1023px) {


.mobile{

    display: none;
}



    /*header*/





    /*Main*/

    .main__mobile{

        display: flex;
        flex-direction: row;
        align-content: center;

    }

    .cajatxt{

        box-shadow: 0 0 20px black;
        margin: 10px;
        border-radius: 5px;

    }

    .cajatxt p{

        text-align: center;
        text-align: justify;
        padding: 10px;
        margin: 20px;

    }

    .clientes {

        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

    }




    .cajaCl {

        width: 250px;
        background-color: bisque;
        border-radius: 10px;
        margin: 20px;


    }

    .cajaCl div img {

        width: 100%;
        padding: 10px;
        border-radius: 10px;

    }

    .cajaCl p {

        text-align: center;


    }


    /*footer*/

    .copy {

        display: flex;
        flex-direction: column;

    }


    .copy p {

        margin: 10px;
        padding: 5px;
        font-size: 10px;
        margin-top: 30px;
        color: white;

    }

    /*footer qr afip*/

    .footer {

        display: flex;
        flex-direction: row;
        justify-content: end;
    }


    .qrAfip {

      border-radius: 5px;
    }

    .qrAfip img {

        margin-top: 10px;
    }


}

/*Desktop */

@media(min-width:1024px) {


    .desktop{
    
        display: none;
    }
    
    

/*Main*/

    .cajatxt__desktop{

        box-shadow: 0 0 20px black;
        margin: 20px;
        border-radius: 5px;

    }

    .cajatxt__desktop p{

        text-align: center;
        text-align: justify;
        padding: 10px;
        margin: 20px;

    }



    .clientes__desktop {

        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

    }




    .cajaCl__desktop {

        width: 350px;
        background-color: bisque;
        border-radius: 10px;
        margin: 20px;


    }

    .img__desktop{

        width: auto;
        width: 100%;
        padding: 10px;
        border-radius: 10px;


    }

    .cajaCl__desktop p {

        text-align: center;


    }



    
    /*footer*/

    .copy__desktop {

        display: flex;
        flex-direction: column;

    }


    .copy__desktop p {

        margin: 10px;
        padding: 5px;
        font-size: 10px;
        margin-top: 30px;
        color: white;

    }

    /*footer qr afip*/

    .footer__desktop {

        display: flex;
        flex-direction: row;
        justify-content: end;
    }


    .qrAfip__desktop {

      border-radius: 5px;
    }

    .qrAfip__desktop img {

        margin-top: 10px;
    }


}




