/*Mobile*/
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    background-color: #212529;
    color: white
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Regular.ttf);
}


@media (max-width:1200px) {

    .mobile {

        display: none;

    }


}


/*Desktop*/
@media (min-width:1201px) {

    .desktop {
        display: none;

    }


    .nav__ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        padding: 10px;
        padding-top: 20px;
        margin: 10px;

        align-items: center;



    }

    .nav__ul li {

        margin-left: 20px;
    }

    .nav__ul li a {

        text-decoration: none;
        color: white;
        font-size: 20px;
    }


    .menu {

        display: flex;
        flex-direction: row;

    }

    .logo {

        margin: 10px;
        padding: 10px;

    }

    .logo a {

        text-decoration: none;
        color: white
    }


}