/*Mobile*/
* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    background-color: #212529;
    color: white

}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Regular.ttf);
}


.menu{
    text-decoration: none;
    color: white;
}

header{

    height: 10vh;
}
main{
    height: 80vh;


}

section{
height: 70vh;

}
footer{

height: 10vh;
display: flex;
flex-direction: row;
justify-content: center;
justify-content: space-between;
}

.qr{

    padding-right: 10px;
    margin-right: 10px;
    align-self: center;

}

.copyr{

font-size: 12px;
margin-left: 5px;
padding-left: 5px;
align-self: self-end;

}
/*Desktop*/

@media (min-width:1025px){

    .desktop{

        display: none;
    }

}


.caja{
    
    margin: 15px;
    padding: 10px;
    box-shadow: 0 0 20px white;
    border-radius: 10px;
    margin-top: 60px;
    align-self: flex-end;
}