/*Mobile*/

@media (max-width:991px) {


    body {

        height: 100vh;
        background-color: bla;

    }

    header {

        display: flex;
        background-color: black;
        justify-content: center;
        align-content: center;
        padding: 10px;



    }


    nav {

        background-color: black;


        div {

            /*Dar animación*/
            img {

                height: 50px;
                width: 50px;
                border-radius: 25px;
            }
        }
    }


    /*Estilos main*/

    .mainF {


        display: flex;
        flex-wrap: wrap;
        background-color: white;
        


    }


    .mainCli{

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: white;
        justify-content: center;
        height: 400px;
    }


    .main-var2{


        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
/*Estilos Section*/


.secCli{

    height: 400px;

}


 /*Fondo reutilizable*/

    .fTerciario {

        background-color: map-get($fondo , terciario);
    }


    .fgradiant {

        background: linear-gradient(to right, #ea90ff, #eaff6a);

    }


    .fgradiant2 {

        background: linear-gradient(to right, white, #fac300);

    }


    /*Cajas */

    /*Caja de texto encabezados*/


    .cajaT-enVar2 {

        margin-top: 20px;
        margin-bottom: 20px;
        height: 100px;
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        box-shadow: 0 0 15px white;
    }


    .cajaT-enVar2 p{

        margin: 10px;
        text-align: center;
        font-size: 20px;
        font-weight:bold;

    }

    .cajaT-en {

        margin-top: 20px;
        margin-bottom: 20px;
        height: 350px;
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }




    .cajaT-en p{

        margin: 10px;
        text-align: center;
        font-size: 20px;
        font-weight:bold;

    }

    .cajaImgP {

        height: 200px;
        width: 200px;
        
        border-radius: 50%;
        margin: 20px;
        box-shadow: 0 0 10px #fac300;
    }


    .cajaImgP img{

        height: 200px;
        width: 200px;
        border-radius: 50%;

    }

    .card {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        border: none;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .caja__txt {

        @include medidas-caja(600px, 100px);
        border-radius: 5%;
        margin: 0;
        
    }

    .caja__txt p {

        margin: 10px;
        text-align: justify;
        color: rgb(205, 205, 205);
        

    }

    .contenedor-Card{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        


    }


    h2{
        margin-top: 10px;
        color: rgb(205, 205, 205);

    }

    .var-cajaImg{

        height: 300px;
        width: 700px;
        padding-top: 20px;
        
    }

    .var-cajaImg img{

        
        border-radius: 2%;
        box-shadow: 0 0 10px black;
    }



    /*Contenedor circulos */

    .cir-1 img{

        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    
    .cir-2 img{

        width: 110px;
        height: 110px;
        border-radius: 50%;
    }


    .cir-3 img{

        width: 140px;
        height: 140px;
        border-radius: 50%;
    }


    .cont-cli{


        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin-bottom: 20px;
        box-shadow: 0 0 20px black;


    }

/*Contenedor form*/


.cont-form{

    height: 450px;
    width: 500px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contLab{

    box-shadow: 0 0 5px #006cfa;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 3%;
}

.contLab-var1{

    box-shadow: 0 0 5px black;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5%;

}




.boton{

    width: 80px;
    border-radius: 10%;
    background-color: #fac300;
    color: rgb(114, 105, 105);
    box-shadow: 0 0 10px black;

}




}

/***Desktop***/

@media (min-width:992px) {





nav{
     div{

        img{

            display: none;
        }

            ul{
                li{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: center;
                }
            }
     }

}


/*Fondo reutilizable*/

.fTerciario {

    background-color: map-get($fondo , terciario);
}


.fgradiant {

    background: linear-gradient(to right, #ea90ff, #eaff6a);

}


.fgradiant2 {

    background: linear-gradient(to right, white, #fac300);

}

.fgray{

    background-color: rgba(196, 190, 190, 0.87);

}


/*contenedor multimedia*/

.con-iframe{

    width: 400px;
    height: 400px;
}



.wspfloat {

    position: fixed;
    bottom: 80px;
    right: 0px;
    width: 60px;



}


.cont-Img{

    width: 100%;
    height: 350px;

}


.cajaT-en {

    margin-top: 20px;
    margin-bottom: 20px;
    height: 250px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}




.cajaT-en p{

    margin: 10px;
    text-align: center;
    font-size: 20px;
    font-weight:bold;

}


h2{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(205, 205, 205);

}


.contenedor-Card{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    


}

.cajaImgP {

    height: 300px;
    width: 300px;
    
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0 0 10px #fac300;
}


.cajaImgP img{

    height: 300px;
    width: 300px;
    border-radius: 50%;

}


.caja__txt {

    @include medidas-caja(600px, 100px);
    border-radius: 5%;
    margin: 0;
    
}

.caja__txt p {

    margin: 10px;
    text-align: justify;
    color: rgb(205, 205, 205);
    

}



}


